footer.footer 
    .footer-top 
        .container 
            .footer-top__contact 
                h3.footer-top__title Полезная рассылка
                input.footer-top__mail(type="email" placeholder="E-mail....")
                button.footer-top__btn Отправить
            .footer-top__agree
                input(type="checkbox").footer-top__check
                p.footer-top__text Подтверждаю свое согласие на обработку своих персональных данных в соответствии с Политикой конфиденциальности ООО "Андеса"
    .footer-content 
        .container
            .footer__logo 
                a.footer__logo-img(href="#!") 
                    img(src="./images/logo.png", alt="footer logo")
                .footer__apps 
                    a.footer__telegram(href="#!")
                        i.fab 
                    a.footer__whatsapp(href="#!")
                        i.fab 
                a.footer__created(href="#!") 2021 © Все права защищены
            .footer__contact 
                a.footer__contact-link(href="#!") Доставка / Оплата
                a.footer__contact-link(href="#!") Каталог
                a.footer__contact-link(href="#!") Политика обработки персональных данных
            .footer__nav 
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#!") О&nbsp;компании
                    li.footer__item 
                        a.footer__link(href="#!") Услуги
                    li.footer__item 
                        a.footer__link(href="#!") Гарантии
                    li.footer__item 
                        a.footer__link(href="#!") Опыт
            .footer__nav
                ul.footer__list 
                    li.footer__item 
                        a.footer__link(href="#!") Новости
                    li.footer__item 
                        a.footer__link(href="#!") Контакты
            .footer__location 
                a.footer__tel(href="#!") 
                    i.far 
                    span +7 (812) 904-91-57
                a.footer__address(href="#!") Гельсингфорсская ул., 4 корпус 1,  Санкт-Петербург, 194044
                a.footer__mail(href="#!") HJYolv@woevg.com
