header.header 
    .container
        .header-top 
            a.header__logo(href="./index.html")
                img(src="./images/logo.png", alt="logo") 
            a(href="#!").header__user
                i.far
                span.header__user-link Вход
            i.fab.header__telegram
            i.fab.header__whatsup
            a(href="tel:+7812904-91-57").header__tel
                i.far
                span.header__tel-link +7 (812) 904-91-57 
            i.far
        nav.header__nav 
            button.far.nav__btn
            ul.header__list
                li.header__item 
                    a.header__link(href="./about.html") О компании
                li.header__item 
                    a.header__link(href="#!") Каталог
                li.header__item 
                    a.header__link(href="#!") Услуги
                li.header__item 
                    a.header__link(href="#!") Оплата / Доставка
                li.header__item 
                    a.header__link(href="#!") Гарантии
                li.header__item 
                    a.header__link(href="#!") Опыт
                li.header__item 
                    a.header__link(href="#!") Новости
                li.header__item 
                    a.header__link(href="#!") Контакты