.partner{

    &__title{
        font-family: $mont;
        font-size: 40px;
        font-weight: 400;
        color: black;
        margin-bottom: 30px;
        @include media(576){
            font-size: 30px;
            margin-bottom: 15px;
            text-align: center;
        }
    }
    &-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        @include media(576){
            justify-content: space-evenly;
        }
    }
    &__img{
        width: 162px;
        margin-right: 25px;
        margin-top: 20px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            transform: scale(1.4);
        }
        & img{
            width: 100%;
        }
    }
}