section.catalog 
    .container 
        .section__title Каталог
        .catalog-content 
            .catalog__box 
                .catalog__img 
                    img(src="./images/catalog1.png", alt="")
                .catalog__info Источники бесперебойного питания
            .catalog__box 
                .catalog__img 
                    img(src="./images/catalog2.png", alt="")
                .catalog__info Дизель-генераторные установки 
            .catalog__box 
                .catalog__img 
                    img(src="./images/catalog3.png", alt="")
                .catalog__info Системы постоянного тока
            .catalog__box 
                .catalog__img 
                    img(src="./images/catalog4.png", alt="")
                .catalog__info Аккумуляторные батареи
            
