section.intro 
    .container 
        h2.intro__title Дизельные Генераторы
        p.intro__text Во многих случаях, объект получает питание от промышленной сети. Однако регулярные сбои и отключения электричества вызывает множество проблем. Чтобы обезопасить себя от негативных последствий исчезновения или некачественных характеристик электроэнергии можно купить генератор для резервного электропитания.
        button.section__btn Подробнее