section.partner 
    .container 
        h2.partner__title Наши партнеры
        .partner-content 
            .partner__img 
                img(src="./images/partner1.png", alt="partner")
            .partner__img 
                img(src="./images/partner2.png", alt="partner")
            .partner__img 
                img(src="./images/partner3.png", alt="partner")
            .partner__img 
                img(src="./images/partner4.png", alt="partner")
            .partner__img 
                img(src="./images/partner5.png", alt="partner")
            .partner__img 
                img(src="./images/partner3.png", alt="partner")
            .partner__img 
                img(src="./images/partner1.png", alt="partner")
            .partner__img 
                img(src="./images/partner3.png", alt="partner")
            .partner__img 
                img(src="./images/partner4.png", alt="partner")
            .partner__img 
                img(src="./images/partner3.png", alt="partner")
            .partner__img 
                img(src="./images/partner1.png", alt="partner")